<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href = "static/css/style.css" rel = "stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark">

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('dashboard')}}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="">Questions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('survey_creation')}}">Survey</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Responses</a>
          </li>
        </ul>

        <ul class = "nav navbar-nav navbar-right">
          <li class = "nav-item">
            <a class = "nav-link active" href = "{{url_for('logout')}}">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    {% if error == 'positive' %}
    <div class = "form-col">
    <div class="alert alert-danger">
      <strong>Error!</strong> Please enter multiple choice options.
    </div>
    </div>
    {% endif %}
    <form method = "POST">
			<div class = "form-group">
        <div class = "form-col">
				      <label for = "formGroupExampleInput"> Enter the Question </label>
				      <input type = "text" name = "question_entered" class = "form-control">
        </div>

        <div class = "form-col">
        Select question type:

        <label class="radio-inline"><input type="radio" name="QType" value = "MC">Multiple choice</label>
        <label class="radio-inline"><input type="radio" name="QType" value = "SA">Short answer</label>
        </div>

        <div class = "multiple-form-group" data-max=5>
          <div class = "form-col">
          	<label for "formGroupExampleInput">Enter the answers</label>

          	<div class="form-group input-group">
          		<input type="text" name="answer_entered[]" class="form-control">
          			<span class="input-group-btn"><button type="button" class="btn btn-default btn-add">+
          			</button></span>
          	</div>
          </div>
        </div>
      </div>

      <div class = "form-col">
        <button name = "submit" class = "btn btn-primary" value = "add_question">Submit</button>
      </div>
    </form>

		<!-- Display the multiple choice answers-->
    <form method = "POST">
    <div class = "form-col">
    <table class = "table table-bordered">
      <thead>
        <tr>
          <th style = "width:5%" > <input disabled selected type = "checkbox"></label>
          <th style = "width:20%"> Questions in course survey </th>
          <th style = "width:15%"> 1 </th>
          <th style = "width:15%"> 2 </th>
          <th style = "width:15%"> 3 </th>
          <th style = "width:15%"> 4 </th>
          <th style = "width:15%"> 5 </th>
        </tr>
      </thead>
      <tbody>
        {% for key, values in question_answer.items() %}
        <tr>
          <td> <input type = "checkbox" value = "{{key}}" name = 'checkbox_value'></label>
          <th scope = "row">{{key}}</th>
          {% for value in values %}
          <td>{{value}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <button name = "submit" class = "btn btn-primary" value = "delete_question">Delete selected questions</button>
    </div>
    </form>
		<!--<form method = "POST">
		<input name = "question_entered" placeholder = "Enter the question">
		</br>
		<input type = "button" value = "View questions" onclick = "location.href = '/view_questions'">
		<input type = "submit" value = "Submit question">

		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<h4> {{messages}} </h4>
			{% endif %}
		{% endwith %}
	</form>
	//-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="static/js/bootstrap.min.js"></script>
    <script src = "static/js/add_remove_form.js"></script>
  </body>
</html>
