
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href = "static/css/staff_style.css" rel = "stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark">

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('responses')}}">Responses</a>
          </li>
        </ul>

        <ul class = "nav navbar-nav navbar-right">
          <li class = "nav-item">
            <a class = "nav-link active" href = "{{url_for('logout')}}">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <br>

    <div class="form-col">
      {% if course_list %}
      <h5>Courses to review:</h5>
      <br>
			<div class="card-group" >
				{% for course in course_list %}
				 <div class="col-sm-2">
				<div class = "card text-black" >
					<div class = "card-body">
						<h4 class = "card-title"> {{course}} </h4>
					</div>

					<div class = "card-footer">
						<form method = "POST">
						<button class = "btn btn-dark pull-right" name = 'do_survey'><i class = "fa fa-chevron-right" aria-hidden="true"></i></button>
						<!-- Have the course name entered into a text box, so when button is pressed the course-name is submitted"-->
            <!-- Have to put quotes between the {{course}} or else it will only print the first word before the space-->
            <input type = "hidden" name = "course_name" value = "{{course}}"/>
						</form>
					</div>
				</div>
			</div>
				{% endfor %}
			</div>
      {% else %}
      <h5> No courses to review at the moment </h5>
      {% endif %}
		</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>

  </body>
</html>
