<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link type=text/css href="{{ url_for('static', filename='css/student_style.css') }}" rel = "stylesheet">
  </head>

  <body>

		<nav class="navbar navbar-expand-md navbar-dark">

			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="{{url_for('student_dashboard')}}">Home</a>
					</li>
				</ul>

				<ul class = "nav navbar-nav navbar-right">
					<li class = "nav-item">
						<a class = "nav-link active" href = "{{url_for('logout')}}">Logout</a>
					</li>
				</ul>
			</div>
		</nav>
		<br>

	{% if status == 'open' %}
	<div class = "form-col">
		<div class="alert " role="alert">
  		Survey for {{course_name}} {{semester}}
		</div>
	</div>

	<!-- Questions for the survey -->
	<form method = "POST">
	<div class = "form-col">
		{% for key, values in question_answer.items() %}
			<h5>{{key}}</h5> </br>
			{% for value in values %}
			<div class="form-check form-check-inline">
  			<label class="form-check-label">
    			<input class="form-check-input" type="radio" name="{{key}}" value="{{value}}"> {{value}}
  			</label>
			</div>
			{% endfor %}
		{% endfor %}
		</br>
		<button name = "submit" class = "btn btn-primary" value = "submit_answers">Submit</button>
	</div>
	</form>
	{% elif status == 'Not part of the course to answer survey' %}
	<div class = "form-col">
		<div class = "alert " role = "alert">
			{{status}}
		</div>
	</div>
	{% else %}
	<div class = "form-col">
		<div class = "alert " role = "alert">
			{{course_name}} {{semester}} {{status}}
		</div>
	</div>

	{% endif %}
	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

	<script src="static/js/bootstrap.min.js"></script>
	<script src = "static/js/dropdown.js"></script>
</body>
</html>
