<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link type=text/css href="{{ url_for('static', filename='css/style.css') }}" rel = "stylesheet">
  </head>

  <body>

<body>
	<div class = "form-col">
		<div class="alert alert-primary" role="alert">
  		Survey for {{course_name}}
		</div>
	</div>

	<!-- Questions for the survey -->
	<form method = "POST">
	<div class = "form-col">
		{% for key, values in question_answer.items() %}
			<h5>{{key}}</h5> </br>
			{% for value in values %}
			<div class="form-check form-check-inline">
  			<label class="form-check-label">
    			<input class="form-check-input" type="radio" name="{{key}}" value="{{value}}"> {{value}}
  			</label>
			</div>
			{% endfor %}
		{% endfor %}
		</br>
		<button name = "submit" class = "btn btn-primary" value = "submit_answers">Submit</button>
	</div>
	</form>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

	<script src="static/js/bootstrap.min.js"></script>
	<script src = "static/js/dropdown.js"></script>
</body>
</html>
