<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href = "static/css/style.css" rel = "stylesheet">
    <link href="css/titatoggle-dist.css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark">

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('dashboard')}}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('question_page')}}">Questions</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="">Survey</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Responses</a>
          </li>
        </ul>

        <ul class = "nav navbar-nav navbar-right">
          <li class = "nav-item">
            <a class = "nav-link active" href = "{{url_for('logout')}}">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
	<body>

	<div class = "form-col">
	<form class = "course-select", method = "POST">
	<label class " course_name" for "inlineFormCustomSelect"> Pick the course </label>
	<div class = "input-group">
			<select class = "custom-select form-control" name = "course-selected" onchange = 'this.form.submit()'>
          <option value = "" disabled selected> Pick the course </option>
        {% for x in course_list %}
					<option value = "{{x}}">{{x}}</option>
				{% endfor %}
			</select>
			<!--<span class = "input-group-btn">
				<button class = "btn btn-primary" type = 'Submit'><i class = "fa fa-check"></i></button>
			</span>-->
	</div>
	</form>
	</div>

	<div class = "form-col">
	<form class = "question-select" method = "POST">
	<input type = "hidden" name = "question_selected" value = "{{course_selected}}">
	<label class " question-select-label" for "inlineFormCustomSelect"> Pick the Question </label>
	<div class = "input-group">
      <input value = '{{course_selected}}' name = "course_selected" type = "hidden">
			<select class = "custom-select form-control" name = "question-selected">
				{% for x in question_list %}
					<option value = "{{x}}"{% if loop.first %} SELECTED {% endif %}>{{x}}</option>
				{% endfor %}
			</select>
			<span class = "input-group-btn">
				<button class = "btn btn-primary" name = 'submit'><i class = "fa fa-plus"></i></button>
			</span>

	</div>
	</form>
	</div>

  {% if course_selected %}
  <div class = "form-col">
    <div class = "alert alert-primary" role = "alert">
      <form method = "POST">
      <input value = '{{course_selected}}' name = "course_selected" type = "hidden">
      <button class = "btn btn-primary" name = "submit" style="float: right" value = 'open'>
        {% if status == "open" %} Close Survey {% else %} Open Survey {% endif %}</button>
      <p>{{course_selected}} is
        {% if status == "open" %}
        open
        {% else %}
        closed
        {% endif %}
        for responses</p>
      </form>
    </div>
  </div>
  {% endif %}
  <form method = "POST">
	<div class = "form-col">
    <input value = '{{course_selected}}' name = "course_selected" type = "hidden">
	<table class = "table table-bordered">
		<thead>
			<tr>
        <th style = "width:5%"> <input disabled selected type = "checkbox"></th>
				<th style = "width:20%"> Questions in course survey </th>
				<th style = "width:15%"> 1 </th>
				<th style = "width:15%"> 2 </th>
				<th style = "width:15%"> 3 </th>
				<th style = "width:15%"> 4 </th>
				<th style = "width:15%"> 5 </th>
			</tr>
		</thead>
  </thead>
  <tbody>
    {% if question_answer %}
    {% for key, values in question_answer.items() %}
    <tr>
      <td> <input type = "checkbox" value = "{{key}}" name = 'checkbox_value'></label>
      <th scope = "row">{{key}}</th>
      {% for value in values %}
      <td>{{value}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
    {% endif %}
  </tbody>
	</table>
  <button name = "submit" value = "delete_question" class = "btn btn-primary">Delete selected questions</button>
	</div>
  </form>

	<!--
	<form method = "POST" >
		<input type = "button" value = "Select a course:"/>
		<select id = 'course' name = 'course'>
		{% for x in course_list %}
			<option value = "{{ x }}" {% if loop.first %} SELECTED {% endif %}> {{ x }} </option>
		{% endfor %}
		 Then allow the user to pick the questions for that course
		</select>
		</br>
		</br>
		<input type = "button" value = "Pick a question: "/>
		<select id = 'question' name = 'question'>
		{% for y in question_list %}
			<option value = "{{ y }}" {% if loop.first %} SELECTED {% endif %}> {{ y }} </option>
		{% endfor %}
		</select>
		<button type = "submit"> Submit </button>

		Error messages
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<h4> {{messages}} </h4>
		{% endif %}
		{% endwith %}

		 When questions have been successfully added
		<h4> Questions added to this course are: </h4>
		{% if questions_added %}
		{% for question in questions_added %}
		{{question}}
		</br>
		{% endfor %}
		<h4> Link to the survey is: </h4>
			{% if course_url %}
			<Generates link to the survey for students
			<a href='answer_survey/{{course_url}}'>{{course_url}}</a>
			{% endif %}
		{% endif %}
	</form>
	</body>
	//-->
	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

	<script src="static/js/bootstrap.min.js"></script>
	<script src = "static/js/dropdown.js"></script>
  <!-- Script for getting value in dropdown menu -->

</body>
</html>
