body{
  background:#fff;
}

.navbar{
  min-height: 33px;
  height: 100%;
  background:#79c0b2;
}

.navbar li a{
  color: #fff;
  margin-right: 40px;
}

.form-col{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  padding: 0px;
}

.glyphicon{
  font-size: 12px;
}

.card-title{
  margin: 0%;

}

.card-body{
  background: #fff;
}

.alert p{
  line-height: 25px;
  padding-top: 5px;
  padding-bottom: -25px;
}

.radio-inline{
  margin-left: 10%;
}

.card-group{
  margin-left: 10%;
  margin-top: 5%;
}

.card-body{
  padding-left: 10%;
}

.result-container{
   margin-left: -5%;
   margin-top: -4%;
}
