body{
  background:#fff;
}

.navbar{
  min-height: 33px;
  height: 100%;
  background:#79c0b2;
}

.navbar li a{
  color: #fff;
  margin-right: 40px;
}

.form-col{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  padding: 0px;
}

.glyphicon{
  font-size: 12px;
}

/* Source from : https://bootsnipp.com/snippets/xzXG */
/* Switch button */
.btn-default.btn-on.active{background-color: #5BB75B;color: white;}
.btn-default.btn-off.active{background-color: #DA4F49;color: white;}
/* End source*/
